* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(-45deg, #f64914, #dc1863, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 85px;
  color: #fff;
  line-height: 2;
}

#countdown {
  background-color: rgba(0, 0, 0, 0.332);
  padding: 25px;
  font-size: 45px;
  color: #fff;
  border-radius: 5px;
}
